<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>泡泡金融-找回密碼</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/css/account.css"/>
    <link rel="icon" href="../static/images/index/py.ico">
    <script src="../static/js/init.js"></script>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/layui/layer.js"></script>
    <script src="../static/layui/layui.js"></script>
    <script src="../static/js/index.js"></script>
</head>
<body>
<div class="main">
    <form class="layui-form" action="">
        <div class="layui-form-item form_ver" style="margin-top:100px;">
            <label class="layui-form-label"><b>用户名*：</b></label>
            <div class="layui-input-block form_width">
                <input type="text" name="username" id="username" required lay-verify="required" placeholder="请输入用户名"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item form_ver">
            <label class="layui-form-label"><b>新密码*：</b></label>
            <div class="layui-input-block form_width">
                <input type="password" name="new_psd" id="new_psd" required lay-verify="required" placeholder="请输入新密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item form_ver">
            <label class="layui-form-label"><b>确认密码*：</b></label>
            <div class="layui-input-block form_width">
                <input type="password" name="con_psd" id="con_psd" required lay-verify="required" placeholder="请输入新密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item form_ver">
            <label class="layui-form-label"><b>验证码*：</b></label>
            <div class="layui-input-block form_width">
                <input type="text" name="code" id="code" required lay-verify="required" placeholder="请输入验证码"
                       autocomplete="off"
                       class="layui-input"
                       style="width:370px;display:inline;"
                >
                <input type="button" name="sendSmS" value='发送手机验证码' id="sendSmS" onclick="send_sms()"
                       class="layui-btn"
                       style="width:180px;display:inline;"
                />
            </div>
        </div>
        <div class="layui-form-item form_ver">
            <div class="layui-input-block">
                <button class="layui-btn" id="submit" lay-submit lay-filter="formDemo">确定修改</button>
                <button type="reset" id="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    //Demo
    layui.use('form', function () {
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            var new_psd = $("#new_psd").val()
            var con_psd = $("#con_psd").val()
            console.log(new_psd)
            console.log(con_psd)
            if (new_psd!=con_psd){
                  layer.msg('密码输入不一致，请重新输入!', {
                        offset: '100px',
                        anim: 2
                    });
                    return false
            }
            if (reset_psd(data.field)){
                return true
            }else{
                return false
            }
        });
    });








</script>

</body>
</html>


<script>

var InterValObj; //timer变量，控制时间
var count = 60; //间隔函数，1秒执行
var curCount;//当前剩余秒数
var phone;
function send_sms() {
   var username =  $('#username').val()
 　curCount = count;
　　 //向后台发送处理数据
      $.ajax({
        type: 'post',
        url:baseUrl+"/v1/users/code",
        datatype: 'json',
        data: JSON.stringify({
          "username": username
        }),
        success:function (data) {
          if(data.code=='200'){
            phone =  data.phone
            //设置button效果，开始计时
            $("#sendSmS").attr("disabled", "true");
            $("#sendSmS").val("请在" + curCount + "秒内输入验证码");
            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
             layer.msg('验证码发送成功', {
                        offset: '100px',
                        anim: 2
                    });
          }else {
                    layer.msg(data.msg, {
                        offset: '100px',
                        anim: 2
                    });
          }
        },
        error:function (e) {
          alert('内部错误，请联系管理员')
        }
      })
}

//timer处理函数
function SetRemainTime() {
      if (curCount == 0) {
        window.clearInterval(InterValObj);//停止计时器
        $("#sendSmS").removeAttr("disabled");//启用按钮
        $("#sendSmS").val("重新发送验证码");
      }
      else {
        curCount--;
        $("#sendSmS").val("请在" + curCount + "秒内输入验证码");
      }
    }

function reset_psd(data){
              $.ajax({
                type: "POST",
                url: baseUrl + "/v1/users/reset",
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify({'code':data.code,'password':data.con_psd,'phone':phone,'username': data.username}),
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('authorization', window.localStorage.getItem('paopao_token'))
                },
                success: function (response) {
                    if (response.code == 200) {
                        layer.msg('找回密码成功!', {
                            offset: '100px',
                            anim: 2
                        });
                        window.setInterval(function()
                        {
                           window.location.href="login.html"
                        },2000);
                        return true
                    } else {
                        layer.msg(response.msg, {
                            offset: '100px',
                            anim: 2
                        });
                        return false
                    }
                },
                error: function (e) {
                    console.log(e);
                    return false
                }
            });

    }


</script>